.Listgallery--main {
    display: flex;
    flex-direction: column;
}
.ListGallery--intro {
    padding: 3em;
    text-align: center;
    width: 100%;
    color:#C29B57;
}
.ListGallery--lists {
    display: grid;
    grid-gap: 5%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    padding: 2em;
}
 .ListCard--item {
    width: 100%;
}
.ListGallery--btn, .ListGallery--input {
    padding: 0.3em;
    margin: 0.3em;
    width: 20%;
}
.ListGallery--btn {
    border: 5px solid #C29B57;
    background-color: white;
    border-radius: 0.5em;
}