.ToDoCard--main {
    display: flex;
    flex-direction: column;
    width: 27%;
    background-color: rgb(212, 194, 169);
    color: rgb(0, 0, 0);
    border-radius: 3em;
    border-style:none;
    padding: 1em;
    margin: 1em;
}