.ToDoGallery--main {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    width: 100%;
}
.ToDoGallery--completed, .ToDoGallery--notcompleted{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    text-align: start;
    border-radius: 5em;
    padding: 1em 2em;
    margin: 1em;
    position: relative;
    width: 80%;
}
.ToDoGallery--grid {
    display: grid;
    grid-gap: 5%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    width: 100%;
}
.ToDoGallery--notcompleted {
    background-color: rgb(255, 177, 60);
    order: 0;
    width: 100%;
}
.ToDoGallery--completed {
    background-color: rgb(106, 155, 212);
    order: 1;
    width: 100%;
}