.User--main{
    width: 33%;
    background-color: antiquewhite;
    color: rgb(125, 89, 255);
    border-radius: 3em;
    border-style:none;
}
.User--name {
    font-size: 4vw;
}
.User--ul {
    font-size: 2.5vw;

}
.User--li {

}